<article class='container'>
    <section class='pt-5'>
        <h3 class='title is-size-3'>Edit Post</h3>
        <hr />
        <form id='editForm'>
            <div class='field'>
                <label for='postTitle' class='label'>Post Title</label>
                <input
                    class='input'
                    type='text'
                    name='postTitle'
                    id='postTitle'
                    placeholder='Enter Post Title...'
                    value='{{title}}'
                    required
                />
            </div>
            <div class='field'>
                <label for='postBody' class='label'>Body</label>
                <p class='control'>
                    <textarea
                        class='textarea'
                        name='postBody'
                        id='postBody'
                        placeholder="What do you want to post?"
                        required
                    >{{body}}</textarea>
                </p>
            </div>
            <div class='field'>
                <div class='control'>
                    <button class='button' id='edit' type='submit'>Save Edit</button>
                </div>
            </div>
            <div class='notification is-info is-light hide' id='postEdited'>
                <p class='has-text-weight-bold'>Post Edited!</p>
                <p>Returning home...</p>
            </div>
            <input id='id' class='hide' value={{id}} />
            </div>
        </form>
    </section>
</article>

<script src='/js/edit.js'></script>